@page "/customers/{CustomerId:guid}"
@using System.Net
@using CustomerManagementSystem.Api.Contracts
@inject HttpClient Http
@inject IJSRuntime JsRuntime

<section class="container-md">
    @if (Customer is not null)
    {
        <PageTitle>@Customer.FullName</PageTitle>

        <div class="card text-center @(Customer.IsConfirmed ? "border-success" : "border-warning")">

            <div class="card-body">
                <h5 class="card-title @(Customer.IsConfirmed ? "bg-success" : "bg-warning")">@Customer.FullName</h5>

                <div class="form-floating container container-fluid">

                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="fullName" class="col-form-label">FulName</label>
                        </div>
                        <div class="col-auto">
                            <InputText @bind-Value="Customer.FullName"
                                       id="fullName" readonly="readonly"
                                       class="form-control"
                                       aria-describedby="fullNameHelpInline"></InputText>

                        </div>
                    </div>
                    <hr/>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="fullName" class="col-form-label">Email</label>
                        </div>
                        <div class="col-auto">
                            <InputText @bind-Value="Customer.Email"
                                       id="email" readonly="readonly"
                                       class="form-control"
                                       aria-describedby="emailHelpInline"></InputText>
                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer text-body-secondary text-end">
                <NavLink class="nav-link" @onclick="GoBack" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Back
                </NavLink>
            </div>
        </div>
    }
    else
    {
        @if (_isNotFound)
        {
                    <PageTitle>Customer not found</PageTitle>
            <div class="card text-center border-danger">
                <div class="card-body">
                    <h1 class="card-title bg-danger">Customer not found</h1>
                    <p>The customer with the id @CustomerId was not found.</p>
                </div>
            </div>
        }
    }
</section>

@code {

    [Parameter] public Guid CustomerId { get; set; }
    [Parameter] public required CustomerDto? Customer { get; set; }

    private bool _isNotFound;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync($"api/customers/{CustomerId}");
        if (response.StatusCode == HttpStatusCode.NotFound)
        {
            Customer = null;
            _isNotFound = true;
        }
        else
        {
            Customer = await response.Content.ReadFromJsonAsync<CustomerDto>();
            _isNotFound = false;
        }
        // Customer = await Http.GetFromJsonAsync<CustomerDto>($"api/customers/{CustomerId}");
    }

    private async Task GoBack()
    {
        await JsRuntime.InvokeVoidAsync("history.back");
    }

}
