@page "/"

<PageTitle>Home</PageTitle>

<div class="container align-content-center">

    <div class="col-md-12">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3" style="border-color: #A30046 !important;">
            <h2>Welcome to Swetugg 2025</h2>
            <h4>Empowering Developers with Roslyn</h4>
            <p>Compilers are the core component of every programming language we use to develop applications, and
                letting
                them do the repetitive work, especially if it’s something that multiple developers need to do. You’ll
                save
                time and reduce errors, making your workflow smoother and more efficient. Plus, onboarding new
                developers
                and imposing programming patterns and guidelines can take a good amount of time from your team.
            </p>
            <p>
                Roslyn with its rich APIs is helping us to tackle these challenges at compile time. In this session, we
                will
                investigate Compiler APIs from Roslyn and how they assist to create Source Generators, Semantic
                Analyzers
                and Code Fixers tailored for our team.
            </p>
            <div class="nav-item px-5 text-center">
                <NavLink class="nav-link link-primary" style="font-size: 2.0rem;" href="customers/register">
                    <i class="bi bi-person-add" style="color: dodgerblue;"></i> Register
                </NavLink>
            </div>
        </div>
    </div>
</div>
